<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sm.movieinfo.movie.dao.MovieDAO">
 
    <resultMap type="MovieVO" id="movieResult">
        <id property="movieId" column="movie_id"/>
        <result property="title" column="title"/>
        <result property="openDate" column="open_date"/>
        <result property="age" column="age"/>
        <result property="duration" column="duration"/>
        <result property="genre" column="genre"/>
        <result property="director" column="director"/>
        <result property="actor" column="actor"/>
        <result property="nation" column="nation"/>
        <result property="grades" column="grades"/>
        <result property="story" column="story"/>
        <result property="img" column="img"/>
        <result property="ctime" column="ctime"/>
        <result property="order" column="order"/>
    </resultMap>
 
    <select id="getMovieAll" resultMap="movieResult" parameterType="MovieVO">
        SELECT
            movie_id, title, open_date, age, duration,
            genre, director, actor, nation, grades, story, img, ctime
        FROM
            tb_movie
        <if test="order == 0"> order BY ctime desc</if>
        <if test="order == 1"> order BY ctime asc</if>
        <if test="order == 2"> order BY grades desc</if>
        <if test="order == 3"> order BY grades asc</if>
        <if test="order == 4"> order BY title desc</if>
        <if test="order == 5"> order BY title asc</if>
         
    </select>
 
    <select id="getMovie" parameterType="MovieVO" resultMap="movieResult">
        SELECT
            movie_id, title, open_date, age, duration,
            genre, director, actor, nation, grades, story, img, ctime
        FROM
            tb_movie
        WHERE
        	1=1
            <if test="movieId != -1"> AND movie_id=#{movieId}</if>
            <if test="title != null"> AND title=#{title}</if>
            <if test="director != null"> AND director=#{director}</if>
    </select>
    
    <insert id="insertMovie" parameterType="MovieVO" useGeneratedKeys="true" keyProperty="movieId">
        INSERT INTO tb_movie
            (title, open_date, age, duration, genre, 
            director, actor, nation, grades, story, img, ctime)
        VALUES
            (#{title}, #{openDate}, #{age}, #{duration}, #{genre}, 
            #{director}, #{actor}, #{nation}, #{grades}, #{story}, #{img}, strftime('%s', 'NOW'))
    </insert>
 
    <delete id="deleteMovieAll">
        DELETE FROM
            tb_movie
    </delete>
    
    <delete id="deleteMovie" parameterType="MovieVO">
        DELETE FROM
            tb_movie
        WHERE
            title=#{title}
        AND 
        	director=#{director}
    </delete>
 
</mapper>